header {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 325;
  margin: auto;
  margin-top: 48px;
}

.darkModeButton:hover .sunSVG {
  filter: brightness(90%);
}

.darkModeButton:hover .moonSVG {
  filter: brightness(90%);
}

@media only screen and (min-width: 700px) {
  .logo {
    height: 30px;
    width: 167px;
  }
  .sunSVG {
    height: 26px;
    width: 26px;
  }
}

@media only screen and (max-width: 700px) {
  .moonSVG {
    height: 20px;
    width: 20px;
  }
}
