header {
  display: flex;
  justify-content: space-between;
  height: 20px;
  margin: auto;
  margin-top: 48px;
}

h1 {
  color: white;
  font-size: 25px;
  letter-spacing: 11px;
  margin: 0px;
}

.darkModeButton {
  height: 26px;
  width: 26px;
  text-align: center;
}

.darkModeButton:hover .sunSVG {
  filter: brightness(90%);
}

.darkModeButton:hover .moonSVG {
  filter: brightness(90%);
}

@media only screen and (max-width: 340px) {
  header {
    padding: 0px 10px;
  }
}

@media only screen and (min-width: 700px) {
  .darkModeButton {
    height: 35px;
    width: 35px;
  }

  header {
    margin-top: 70px;
  }

  h1 {
    font-size: 40px;
    letter-spacing: 15px;
  }

  .sunSVG {
    height: 26px;
    width: 26px;
  }
}

@media only screen and (max-width: 700px) {
  .moonSVG {
    height: 20px;
    width: 20px;
  }
}
