header {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 325;
  margin: auto;
  margin-top: 48px;
}

button {
  all: unset;
  cursor: pointer;
}

button:hover {
  filter: brightness(90%);
}
