.container {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px 20px;
  font-size: 12px;
  letter-spacing: -0.194444px;
}

.itemCounter {
  width: 100px;
}

.hideFilter {
  display: none;
}

.clearButton:hover {
  color: var(--control-button-hover);
}

@media screen and (min-width: 700px) {
  .hideFilter {
    display: block;
  }

  .container {
    font-size: 14px;
    padding: 16px 24px 20px;
  }
}
