.container {
  background-color: var(--ui-bg-color);
  border-radius: 5px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.input {
  all: unset;
  margin-left: 12px;
  font-size: 12px;
  padding: 18px 0;
  width: 100%;
  caret-color: #3a7cfd;
  color: var(--text-color);
  letter-spacing: -0.17px;
}

.input::placeholder {
  color: var(--placeholder-text);
}

@media only screen and (min-width: 700px) {
  .container {
    margin-top: 60px;
    padding: 0px 24px;
  }

  .input {
    font-size: 18px;
    padding: 22.5px 0px;
    margin-left: 24px;
    letter-spacing: -0.25px;
  }
}
