li {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  justify-content: space-between;
  border-bottom: var(--border-color) solid 1px;
}

.isDragging {
  background-color: var(--ui-bg-color);
  border-radius: 5px;
}

.groupCheckmarkText {
  display: flex;
  align-items: center;
}

.checkmarkBorder {
  border-radius: 100%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--border-color);
}

.checkmarkButton:hover .checkmarkBorder {
  background-color: none;
  background-image: linear-gradient(
    120deg,
    rgba(85, 221, 255, 1) 0%,
    rgba(192, 88, 243, 1) 100%
  );
}

.checkMarkActive {
  background-color: none;
  background-image: linear-gradient(
    120deg,
    rgba(85, 221, 255, 1) 0%,
    rgba(192, 88, 243, 1) 100%
  );
}

.checkmark {
  border-radius: 100%;
  height: 18px;
  width: 18px;
  background-color: var(--ui-bg-color);
}

.text {
  color: var(--text-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  margin-left: 12px;
  cursor: text;
  overflow-wrap: break-word;
  max-width: 230px;
}

.textComplete {
  color: var(--text-color-crossed);
  text-decoration: line-through;
}

.svgButton {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  height: 18px;
  width: 18px;
}

li:hover .svgButton {
  visibility: visible;
}

li:focus .svgButton {
  visibility: visible;
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
  .svgButton {
    display: flex;
    align-items: center;
    visibility: visible;
  }
}

.crossSVG:hover {
  filter: brightness(90%);
}

@media screen and (min-width: 700px) {
  .checkmark {
    height: 22px;
    width: 22px;
  }

  .checkmarkBorder {
    height: 24px;
    width: 24px;
  }

  .svgButton {
    height: 22px;
    width: 22px;
  }

  .crossSVG {
    height: 18px;
    width: 18px;
  }

  li {
    padding: 16px 24px;
  }

  .text {
    font-size: 1.125rem;
    margin-left: 24px;
    width: 415px;
  }
}

@media screen and (max-width: 700px) {
  .checkSVG {
    height: 8px;
    width: 10px;
  }
}

@media screen and (min-width: 700px) {
  .text {
    max-width: 500px;
  }
}

.moveItemOnEnter {
  opacity: 50%;
}

.itemStart {
  opacity: 30%;
}

.dragEnter {
  pointer-events: none;
}

@media only screen and (max-width: 340px) {
  li {
    padding: 16px 10px;
  }
}

@media only screen and (max-width: 310px) {
  .text {
    max-width: 210px;
  }
}

@media only screen and (max-width: 290px) {
  .text {
    max-width: 200px;
  }
}

@media only screen and (max-width: 290px) {
  .text {
    word-break: break-all;
  }
}
