li {
  display: flex;
  align-items: center;
  padding: 16px 20px;
  justify-content: space-between;
  border-bottom: var(--border-color) solid 1px;
}

.groupCheckmarkText {
  display: flex;
  align-items: center;
}

.checkmark {
  border-radius: 50%;
  height: 18px;
  width: 18px;
  border: var(--border-color) solid 1px;
}

.text {
  color: var(--text-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  margin-left: 12px;
}

.svgButton {
  display: flex;
  align-items: center;
}
