.background {
  background-image: var(--bg-image-mobile);
  position: absolute;
  height: 200px;
  background-position: center;
  background-position: top;
  width: 100%;
  z-index: -1;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: auto;
  max-width: 327px;
}

.app {
  min-height: 100vh;
  overflow: hidden;
}

.instructionTextContainer {
  color: var(--small-text-color);
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  letter-spacing: -0.19px;
  margin-bottom: 20px;
  line-height: 18px;
}

.instructionText:before {
  content: "Double-click to copy text to clipboard";
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
  .instructionText:before {
    content: "Double-tap to copy text to clipboard";
  }
}

.hideFilter {
  display: block;
}

@media only screen and (min-width: 700px) {
  .hideFilter {
    display: none;
  }

  .background {
    background-image: var(--bg-image);
    height: 300px;
  }

  .container {
    max-width: 540px;
  }

  .instructionText {
    margin-top: 49px;
  }
}
