.background {
  background-image: var(--bg-image-mobile);
  position: absolute;
  height: 200px;
  background-position: center;
  background-position: top;
  width: 100%;
  z-index: -1;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: auto;
  width: 327px;
}

@media only screen and (min-width: 700px) {
  .background {
    background-image: var(--bg-image);
    height: 300px;
  }

  .container {
    width: 540px;
  }
}
