@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

html[data-theme="light"] {
  --bg-color: #fafafa;
  --ui-bg-color: #ffffff;
  --bg-image: url("./assets/images/bg-desktop-light.jpg");
  --bg-image-mobile: url("./assets/images/bg-mobile-light.jpg");
  --text-color: #494c6b;
  --text-color-crossed: #4d5067;
  --text-color-crossed: #d1d2da;
  --input-text: #393a4b;
  --small-text-color: #9495a5;
  --border-color: #e3e4f1;
  --placeholder-text: #767992;
  --control-button-hover: #494c6b;
  --shadow-color: rgba(194, 195, 214, 0.5);
  --snackbar-bg: rgb(233, 233, 233);
}

html[data-theme="dark"] {
  --bg-color: #171823;
  --ui-bg-color: #25273d;
  --bg-image: url("./assets/images/bg-desktop-dark.jpg");
  --bg-image-mobile: url("./assets/images/bg-mobile-dark.jpg");
  --text-color: #c8cbe7;
  --text-color-crossed: #4d5067;
  --input-text: #c8cbe7;
  --small-text-color: #5b5e7e;
  --border-color: #393a4b;
  --control-button-hover: #e3e4f1;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --snackbar-bg: #1c1e30;
}

html {
  background-color: var(--bg-color);
  transition: all 0.4s;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

button {
  all: unset;
  cursor: pointer;
}
